---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Benefits from '../components/Benefits.astro';
import Process from '../components/Process.astro';
import TechLogos from '../components/TechLogos.astro';
import ResultsPreview from '../components/ResultsPreview.astro';
import Assessment from '../components/Assessment.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="amotivv - AI consulting">
  <Navigation />
  <main>
    <Hero />
    <Benefits />
    <TechLogos />
    <Process />
    <ResultsPreview />
    <Assessment />
    <Contact />
  </main>
  <Footer />
</Layout>